*{
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.header-logo{
    height: 100px;
}


.header-logo img{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 80%;

}

nav button{
    border: none;
    padding: 15px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
    width: 90%;
    border-radius: 2rem;
}

nav button:focus{
    border-bottom: 1px solid white;
    background-color: rgb(255 255 255 /0.1);
}

nav button img{
    height: 25px;
    filter: invert(100%) sepia(2%) saturate(7462%) hue-rotate(173deg) brightness(105%) contrast(101%);
}

.hero-section{
    /* border: 2px red solid; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
    gap: 30px;
    margin: 2rem auto;
    padding: 2rem 1rem;
}

.order-now{
    color: white;
    background-color: rgb(44, 88, 233);
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

.hero-image-container{
    width: 200px;
}

.hero-image{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.hero-info{
    color: aliceblue;
    text-align: center;
}

.customer-review-section{
    color: aliceblue;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cards-holder{
    color: wheat;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 2rem;
    /* width: 90%; */
    margin: 2rem auto;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
    padding: 1rem 0;
}

.customer-image{
    height: 50px;
    border-radius: 50%;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.45) 0px 30px 60px -12px, rgba(100, 0, 0, 0.5) 0px 18px 36px -18px;
    background-color: rgba(0,0,0,0.1);
    /* border: 1px red solid; */ 
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.name-and-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-and-star{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:1160px) {
    .hero-section{
        flex-direction: row;
        justify-content: space-evenly;
    }

}

/*styling the menu */

.menu-container{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
    margin: 0 auto;
    /* width: 80%; */
    color: white;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    justify-items: center;
}

.appetizers, .mainCourse, .desserts, .beverages{
    width: 80%;
    margin: 0 auto;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
    padding: 10px;
    margin: 1rem 1rem;
    
}

.menu-card-heading{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    text-align: center;
}

.food-card-div{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /* justify-items: center; */
    gap: 1rem;
    width: 90%;
}

.name-and-price{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.food-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.45) 0px 30px 60px -12px, rgba(100, 0, 0, 0.5) 0px 18px 36px -18px;
}

.food-image-div{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.food-image-div img{
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}